<a href="https://colab.research.google.com/github/sanvadds/Python-Basic-Practice/blob/main/Merge_in_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd

In [23]:
data1 = pd.read_excel("/content/sample_data/employe_id_name.xlsx")
data2 = pd.read_excel("/content/sample_data/employee_id_age.xlsx")

In [25]:
data1.head()

   ID     Name
0   1   Sanvad
1   2  Pranali
2   3  Riddham
3   4   Rigved
4   5    Varad

In [26]:
data2.head()

   ID  Age
0   1   30
1   2   27
2   3    3
3   4    6
4   5   31

In [27]:
result_data = pd.merge(data1,data2,on='ID')

In [28]:
result_data

   ID     Name  Age
0   1   Sanvad   30
1   2  Pranali   27
2   3  Riddham    3
3   4   Rigved    6
4   5    Varad   31
5   6    Omkar   29
6   7  Rishabh    2
7   8     Ravi   55
8   9      Sam   78
9  10     John   15